.pix {
  background: #8921BE;
  padding: 48px 0;

  &__title {
    color: white;
    font-size: 1.75rem;
  }

  &__img {
    width: 190px;
    height: 200px;
    margin-bottom: 32px;
  }

  &__account {
    margin: 0 16px;
    padding: 26px;
    background: white;
    border-radius: 20px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 50px;
  }

  &__input {
    border: none;
    border-bottom: 2px solid rgb(197, 197, 197);
    margin-bottom: 40px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #e9e6e6;
    border-radius: 100px;
    border: none;
    padding: 14px;
    color: rgb(197, 197, 197);
    font-size: 20px;
    margin-bottom: 20px;

    &:focus {
      outline: none;
    }
  }
}