.link {
  &__text {

    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-bottom: 32px;

    &:hover {
      text-decoration: none;
      color: white;
    }

    &--inverted {
      color: #8921BE;
    }
  }
}